.container-articles-fondas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;

}

.bloc-article-fondas {

    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    border-radius: 6%;
}

.dish-title {
    font-family: Work Sans;
    font-weight: 700;
    text-align: left;
    color: #333333;
    padding-left: 10px;
    font-size: 20px;
}

.price-categorie-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: DM sans;
    padding-left: 15px;
    padding-right: 15px;
}

.dish-duration {
    font-size: 1rem;
    color: #333333
}

.dish-categorie {
    font-size: 1rem;
    color: rgb(170, 167, 167);
}