.favorites-blocs-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
    margin: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 6%;
    position: relative;
    padding-top: 1rem;
}

.green-dot {
    width: 30px;
    height: 30px;
    top: 20px;
    right: 30px;
    border-radius: 80%;
    background-color: #5EAE53;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   font-family: DM sans;
   position: absolute;

}

.icon-image {
    background-color: white;
    width: 40px;
    height: 33px;
}

.icon-container {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 80%;

}

.container-blocs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.meal-title {
    color: #333333;
    font-family: DM sans;
    margin-bottom: 5px;
}

.meal-price {
color: rgb(170, 167, 167);
font-family: DM sans;
font-size: small;
margin-top: 0px;
}