.meilleur--recette {
    display: flex;
    flex-direction: row;
    background-color: #F7F7F7;
    width: 570px;
    height: 208px;
    border-radius: 10px;
    margin: 1rem;

}

.photo--recettes {
    display: block;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.recette--container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-left: 1rem;
    text-align: left;
    width: 100%;




}

.titre--recette {
    font-family: 'Work Sans', sans-serif, 700;
    font-size: 24px;

}

.texte--recette {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: #33333380;
    height: 32px;

}

.info--container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.temps--recette {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    height: 32px;
    margin: 0;

}

.cout--recette {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: #33333380;
    height: 32px;
    margin: 0;
}

.note--recette {
  position: absolute;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: #EB8E78;
  color: white;
}