
.star-rating-container {

    background-color: #EB8E78;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.star-icon {

  width: 15px;
  height: 15px;

}

.rating {

    font-size: 1rem;
}