.Bannière {
  background-color: #5eae53;
}

.Bannière h1 {
  font-family: Work Sans;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0px;
  text-align: left;
}

.Bannière h2 {
  font-family: Work Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}

.Bannière h3 {
  font-family: Caveat;
  font-size: 50px;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0px;
  text-align: left;
  color: #f6b76c;
}
