
.titre--h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 56px;
  color : #333333;
  text-align : left

}
.categorie--container { 
  background-color: #5EAE53;
  width: 114px;
  height: 32px;
  border-radius: 5px;

}

.categories--text{
  padding-top: 0.5rem;
  font-family:  'DM Sans', sans-serif;
 font-size: 16px;
  height: 32px;
  color : white;

}

.sous--titres {
  font-family:  'DM Sans', sans-serif;
  font-size: 16px;
  color: #33333380;
  text-align: left;
  height: 32px;
  
}