.MenuNavigation {
  display: flex;
  justify-content: flex-end; /* Ajustez cela selon vos préférences */
  align-items: center; /* Ajustez cela selon vos préférences */
  background-color: #5eae53; /* Couleur de fond du menu */
  padding: 10px; /* Ajustez cela selon vos préférences */
}

.MenuNavigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.MenuNavigation li {
  margin: 0 10px; /* Espacement entre les éléments du menu */
  cursor: pointer;
}

.MenuNavigation a {
  text-decoration: none;
  color: #333; /* Couleur du texte du menu */
  font-weight: bold;
}

.MenuNavigation li:hover {
  color: #007bff; /* Couleur du texte au survol */
}
